*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2ff;

    display: flex;
    align-items: center;
    flex-direction: column;
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.container{
    width: 100%;
    /* background-color: rgb(153, 214, 250); */
}
.header{
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    margin: 3rem 0;
}
.title{
    font-size: 3.8rem;
    font-weight: bold;
    margin: 2rem 0;
    color: rgb(4, 64, 79);
}
.subtitle{
    font-size: 1.1rem;
    color: rgb(50, 78, 78);
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

/* MAIN CONTENT */
.main-content{
    /* background-color: rgb(128, 175, 240); */
    padding: 20px;
    
}

/* TOP-CONTROL */
/* TOP-CONTROL */
/* TOP-CONTROL */

.top-control{
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
.add-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    box-shadow: 0px 5px 15px rgba(129, 129, 129, 0.4);
    background: linear-gradient(to right bottom, rgb(95, 52, 189), rgb(186, 103, 255));
    color: white;
    padding: 12px 40px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;   
    outline: none;
    border: none;
    transition: 0.3s ease;
}
.add-card-btn:hover{
    box-shadow: 0px 15px 15px rgba(134, 134, 134, 0.3);
    background: linear-gradient(to right bottom, rgb(80, 37, 172), rgb(174, 79, 251));
    transform: translateY(-5px) scale(1.01);
}
.add-card-btn:active{
    transform: translateY(-1px) scale(0.95);

}

.search-input{
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* overflow: hidden; */
    position: relative;
}
.search-input .search-icon{
    position: absolute;
    top: 12px;
    left: 13px;
    transform: translate(50% 10%);
    width: 18px;
    height: 18px;
    color: rgb(72, 72, 72);
}

.search-input input{
    background-color: transparent;
    border-radius: 50px;
    outline: none;
    width: 100%;
    padding: 13px 20px 13px 38px;
    font-size: 13px;

    border: 1px solid rgba(125, 125, 125, 0.5);
    box-shadow: 0 5px 10px -1px rgba(177, 177, 177, 0.299);
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search-input input:focus{
    outline: none;
    border-color: rgb(95, 52, 189);
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);

}

/* Empty State styling */
.empty-state {
    text-align: center;
    color: rgb(101, 101, 101);
    padding: 3rem;
    border: 2px dashed rgb(215, 215, 215);
    border-radius: 0.75rem;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(251, 252, 255);
    box-shadow: 0 8px 15px -4px rgba(138, 138, 138, 0.344);
}

.empty-state .empty-text {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 500;
}

.empty-state svg {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #a0aec0;
}




/* Utility classes */

.hidden {
    display: none !important;
}




/* MODAL */
.modal-cont, .confirmation-modal{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-content, .confirmation-modal-content{
    position: relative;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    min-width: 500px;
    border-top: 7px solid rgb(119, 77, 208);
}


.close-modal-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #a0aec0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    /* background-color: red; */
    border: none;
    border-radius: 99999px;
    padding: 7px;
    transition: all 0.2s ease-in-out;
}
.close-modal-btn svg{
    width: 25px;
    height: 25px;
}
.close-modal-btn:hover{
    background-color: rgb(239, 246, 255);
    color: black;
    transform: rotate(90deg);
}
.close-modal-btn:active{
    transform: rotate(180deg) scale(0.90);
}


.modal-content h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
/* .modal-content {
    transform: translateY(-50px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
} */
.modal-active .modal-content {
    opacity: 1;
    transform: translateY(0);
}
.form-element{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    /* background-color: lightblue; */
}
.red-star{
    color: rgb(231, 73, 0);
}
.form-element label{
    font-weight: 600;
    color: #354a65;
}
.form-element input, textarea{
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(214, 214, 214);
    font-size: 15px;
    transition: 0.3s ease;
}
.form-element textarea{
    height: 100px;
    resize: none;
}
.form-element input::placeholder, textarea::placeholder{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-element input:focus, textarea:focus{
    outline: none;
    border-color: rgb(95, 52, 189);
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);

}


.modal-btns-cont{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 25px;
}
.modal-btns-cont > button, .confirmation-modal-btns-cont > button{
    padding: 10px 35px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 8px 15px -10px rgba(138, 138, 138, 0.3);
    transition: .3s ease;
}

.cancel-card-btn, .cancel-delete-btn{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(180, 180, 180, 0.5) !important;
    color: black;
    transition: 0.3s ease;
}
.cancel-card-btn:hover, .cancel-delete-btn:hover{
    background-color: rgb(244, 250, 255);
    box-shadow: 0 8px 15px -5px rgba(138, 138, 138, 0.5);
    transform: translateY(-3px);
}
.cancel-card-btn:focus, .cancel-delete-btn:focus{
    box-shadow: 0 0px 0px 3px rgba(230, 230, 230, 0.8);
    transform: scale(0.95);
}
.save-card-btn{
    color: white;
    background: linear-gradient(to right top, rgb(95, 52, 189), rgb(186, 103, 255));
    font-weight: 600;
    transition: 0.3s ease;
}
.save-card-btn:hover{
    background: linear-gradient(to right top, rgb(80, 37, 172), rgb(174, 79, 251));
    box-shadow: 0 8px 15px -5px rgba(138, 138, 138, 0.5);
    transform: translateY(-3px);
}
.save-card-btn:focus{
    box-shadow: 0 0px 0px 4px rgb(212, 160, 255);
    transform: scale(0.95);
}
.confirm-delete-btn{
    color: white;
    background-color: rgb(249, 69, 63);
    transition: 0.3s ease;
}
.confirm-delete-btn:hover{
    background-color: rgb(229, 5, 5);
    transform: translateY(-3px);
}
.confirm-delete-btn:focus{
    box-shadow: 0 0px 0px 4px rgba(255, 132, 132, 0.788);
    transform: scale(0.95);
}




/* CONFIRMATION MODAL */

.confirmation-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-top: 7px solid rgb(229, 5, 5);
}

.confirmation-modal-btns-cont{
    margin-top: 20px;
}




